
<ul>
<li> <%= @article.first.name %> </li>
<li> $<%= @article.first.price %> </li>
<li> <%= @article.first.description %> </li>
<li> <%= @article.first.email %> </li>

</ul>
<a href='/categories'> Back to Categories</a>
